<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presenting the faulty of our School!</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&family=Space+Grotesk:wght@500;700&display=swap"
    rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <style>
          * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
            font-family: 'Oswald', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family: 'Space Grotesk', sans-serif;
        }
        body{
          background: #2b0b0bd7;
          
        }
        .topbar {
            height: 6vh;
            background: #2b0b0b;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .navbar {
            display: flex;
            background: white;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            height: min-content;
            border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            position: relative;
            z-index: 3;
        }

        .nav-links {
            /* margin: 23px; */
            padding: 16px;
            display: flex;
            text-align: center;
            gap: 23px;
            margin-right: 43px;
        }

        a {
            color: black;
        }

        .logo {
            display: flex;
            /* margin-left: 55px; */
            font-size: 23px;
            font-weight: bolder;
            margin-left: 43px;
        }

        .logoimg {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-top: 2px;
        }

        .l-top {
            margin-top: 12px;
            margin-left: 12px;
        }

        .action {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
        }

        .nav-links li a:hover {
            color: #0B132B;
            transition: 0.5s all ease-in-out;
        }

        
     .locate{
        position: relative;
        left: 7%;
        /* top: 25%; */
        display: flex;
        gap: 10px;
     }
  
     .lct{
        color: white;
     }

     .info{
        /* gap: 10px; */
        margin-right: 25px;
     }
     .info-custom{
        color: white;
        margin: 14px;
        text-align: center;
        border: 2px solid white;
        border-radius: 8px;
        padding: 3px 10px;
     }
     .info-custom2{
        color: white;
        margin: 14px;
        text-align: center;
        border-radius: 8px;
        padding: 3px 10px;
     }
     .info-custom:hover{
        opacity: 80%;
     }
     .centerr{
      display: flex;
      justify-content: center;
      /* text-align: center; */
      /* margin: 30px auto; */
      /* margin-bottom: 30px; */
     }
     .content-section{
          height: min-content;
          /* border: 1px solid grey; */
          margin: 10px auto;
          width: 80%;
         }
         footer{
    /* margin-top: 23px; */
    height: min-content;
    background: #2b0b0b
}
.container{
    position: relative;
    z-index: 40;
    
}
.container-content{
    padding-top: 10px;
    display: flex;
}
.left-side{
    display: flex;
    flex-direction: row;
    padding: 0px 4px;
    width: 100%;
    justify-content: center;
}
.left-side-items{
    cursor: pointer;
    list-style-type: circle black;
    margin: 6px ;
    color: whitesmoke;

}



.footer-text{
    color: whitesmoke;
    text-align: center;
}
.footer-add{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}
.left-side-items .mid-side-items .right-side-items:hover{
    color: #140F2D;
}

.faculty{
    margin: 20px 0px ;
   color: white;
    text-decoration: underline;
}
.text-area{
    font-weight: bolder;
    font-size: 20px;
    padding: 12px;
    margin: 20px;
    color: rgb(255, 255, 255);
}
    </style>
</head>
<body>
    <div class="topbar"><span class="locate" ><img class="locate-t" src="/images/placeholder.png" height="20px" width="20px" alt=""><p class="lct">At Baluchaha Road Padrauna , Kushinagar (274304)</p></span>
        <div class="info">
            <a href="/profile" class="info-custom2">Hey</a>
            <a href="/logout"class="info-custom" >Logout</a>
        </div>

    </div>
    <nav class="navbar">

        <ul class="logo"><img src="/images/images (1).jfif" alt="" height="65px" width="65px" class="logoimg">
            <li class="l-top">JDS INTERNATIONAL SCHOOL</li>
        </ul>
        <ul class="nav-links">
            <li><a href="/index">Home</a></li>
            <li><a href="/faculty">Faculty</a></li>
            <li><a href="/admission">Admission</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about" class="action">About us</a></li>
        </ul>
    </nav>


    <div class="content-section">



        <h1 class="centerr faculty">Faculty -- JDS INTERNATIONAL SCHOOL</h1>


        <div class="logo centerr">
            <img src="images__1_-removebg-preview.png" alt="" class="l-img ">
        </div>
        <div class="text-area">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloribus ea dolorem similique? Fuga amet soluta quibusdam inventore non dolores accusamus! Esse obcaecati ducimus qui ea eveniet laborum at? Maxime distinctio facere fugit. Iste culpa natus ullam reiciendis possimus officiis tempora ut facere! Maiores iusto quod facere possimus aspernatur quaerat tenetur reprehenderit distinctio pariatur. Reiciendis accusantium tempore dicta hic odio voluptate asperiores, nihil, repellat praesentium quae, incidunt quod dolor? Atque ut, tempora laboriosam corporis provident omnis ipsa alias vel voluptatibus culpa incidunt sequi temporibus cupiditate delectus maiores optio. Sapiente unde deleniti asperiores totam quo placeat iste vel laboriosam obcaecati consectetur recusandae provident ab inventore enim odio natus in magni mollitia quas odit, iure omnis nobis a. Esse hic nesciunt ullam, quaerat sed quae. Rerum maiores itaque asperiores, veritatis vitae nisi id alias, reprehenderit deserunt totam fugiat dolorem ipsum odio expedita obcaecati, nostrum nesciunt possimus! Earum nemo laborum aspernatur consequatur. Fugiat, sapiente alias omnis quisquam tempore nam saepe? Perspiciatis deserunt, molestiae labore at optio saepe iure nesciunt, dolor dolorem modi blanditiis fuga quidem placeat! Sequi ratione commodi necessitatibus voluptatum assumenda doloremque explicabo consequuntur exercitationem rem sapiente! Soluta dignissimos deserunt nulla facere sint, adipisci possimus blanditiis nam voluptatum dicta suscipit assumenda harum dolorum dolor corrupti cumque nemo obcaecati reprehenderit! Quas doloremque repudiandae modi nostrum corporis non culpa dolorum nam officiis ea! Velit laborum officiis reiciendis error quam, omnis at, amet voluptatum laudantium quia earum minima sequi doloremque. Facere rerum modi similique, maiores explicabo quibusdam sit blanditiis nam ut. Temporibus veritatis molestiae, sunt delectus culpa numquam a tempora unde dolores porro nostrum nam iusto itaque quos nobis qui praesentium laboriosam! Expedita voluptatum blanditiis dolorem corporis modi est maiores repellendus odit asperiores laudantium at magnam, magni reprehenderit debitis alias et sit consequatur odio? Molestias, quibusdam reprehenderit atque tempora perferendis ad magnam facere quod repellat, dolorem praesentium iste eaque natus, cumque velit debitis nobis et quaerat quasi ea quos provident? Incidunt magni ab corrupti? Temporibus quis molestiae quod explicabo consectetur reiciendis autem iure dolores asperiores blanditiis tenetur soluta exercitationem commodi possimus nisi corporis harum expedita, sunt placeat fuga totam ea, voluptatum id. Autem, illo alias! Quam non voluptas magni, laboriosam reiciendis natus? Fugiat cupiditate in officia culpa, facilis ad. Deleniti earum temporibus molestias dolor atque voluptatem repudiandae soluta ratione quibusdam doloremque id autem minus, illo velit assumenda. Alias, quae aspernatur minima a debitis cupiditate ducimus quasi quidem repellendus aliquid tempore. Enim in velit itaque explicabo?
        </div>













    </div>














    <footer class="container">
        <div class="container-content">
            <div class="left-side">
                <a href="#" class="left-side-items">Home</a>
                <a href="#" class="left-side-items">Products</a>
                <a href="#" class="left-side-items">Marketplace</a>
                <a href="#" class="left-side-items">Blog</a>
                <a href="#" class="left-side-items">Community</a>
                <a href="#" class="left-side-items">Faculty</a>
                <a href="#" class="left-side-items">About us</a>
                
                <p class="left-side-items box">Toll free - 19121</p>
           
                <p class="left-side-items box-1">Email - anuj@gmail.com</p>
            </div>
           
            
        </div>
        <div class="footer-text">&copy; www.JDS.com - All Right Reserved</div>
        <div class="footer-add">
            At Baluchaha Road , Padrauna ( Kushinagar ) , 274304 Uttar Pradesh .  
        </div>
    </footer>










</body>
</html>